<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Get property from Javascript Array</title>
	<!-- Libraries -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/lodash/lodash.min.js"></script>

	<!-- app' js -->
	<script src="app.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="FilterKeyCtrl">

		<label class="formgroup">Filtrar por:
          
            <select ng-model="filterSelect" ng-change="getDataFiltered(filterSelect)">
	            <option value="id">Id</option>
	            <option value="name">Name</option>
            </select>

        </label>
		
		{{ datos }}

	</div>
</body>
</html>