<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Get property from Javascript Array</title>
	<!-- Libraries -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/lodash/lodash.min.js"></script>

	<!-- app' js -->
	<script src="app.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="AppCtrl">
		
		<h1>Esto esta lejos de ser una solucion optima, pero pronto la mejorare</h1>
		<br><br>
		<h2>
			Uso de la libreria lodash, es buena para hacer filtros, busquedas, mapeo dentro de 
			arreglos y objectos
		</h2>		
		<br><br>

		<h2>Mensajes sacados del data.json</h2>
		<ol>
			<li ng-repeat="mensaje in mensajes">
				{{ mensaje }}
			</li>
		</ol>

	</div>
</body>
</html>